// Fonts
$secondary-font: 'Open Sans', sans-serif;
$primary-font: 'Source Sans Pro', sans-serif;
$header-font: 'Raleway', sans-serif;
$about-font: 'Playfair Display', serif;

// Font Weights
$text-light: 300;
$text-normal: 400;
$text-bold: 600;

// Colors
$main-color: #bfa67a;
$header-color: #444;
$text-color: #7e7e7e;
$text-color-light: #FFFFFF;
