doctype
head
  title Yava Marketing
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  link(rel="stylesheet", href="./css/main.css")
body
  include includes/header.jade
  include includes/services.jade  
  include includes/about.jade
  include includes/portfolio.jade
  include includes/process.jade
  include includes/team.jade
  include includes/clients.jade
  include includes/blog.jade
  include includes/follow-us.jade
  include includes/pricing.jade
  include includes/contact.jade
  include includes/footer.jade
  

  
  
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  script(src="./js/bootstrap.min.js")
  script(src="https://use.fontawesome.com/cb627fd831.js")
  script(src="js/isotope.min.js")
  script(src="js/scrollIt.min.js")
  script(src="js/main.js")
