.about-content {
  padding: 120px 0;
  background: #111;

  .about-title {
    font-family: $about-font;
    font-size: 22px;
    letter-spacing: 1px;
    color: white;
  }

  .about-sub-title {
    color: white;
    text-transform: uppercase;
  }

  .about-description {
    width: 90%;
    font-size: 15px;
    font-family: $primary-font;
    line-height: 30px;
    padding: 15px 0;
  }
}
