.footer-content {
  background: #111;

  .footer-logo {
    padding: 40px 0 20px 0;
    a {
      font-family: $secondary-font;
      font-size: 40px;
      font-weight: 700;
      color: $main-color;

      span {
        font-weight: 300;
        color: white;
      }
    }
  }

  .footer-social-links {
    margin-bottom: 80px;
    list-style: none;
    padding: 0;

    li {
      display: inline;
      margin-right: 2px;
      padding: 10px;
      color: #888;
      background: #151515;
      transition: all 0.3s ease-in-out;

      &:hover {
        background: $main-color;
        color: white;
      }
    }
  }
  .copyright {
    padding: 20px 0;
    border-top: 2px solid #151515;
  }
}
