section#about(data-scroll-index="2")
  .about-content
    .container
      .row
        .col-md-6
          img(src="../img/about-img.png").img-responsive
        .col-md-6
          h3.about-title We are creative
          h3.about-sub-title The Devoted Creative Technicans
          p.about-description Fusce vitae nulla at lorem pretium semper. Curab itur laoreet, lectus ac dignissim lorem vestibul lorem pretium semper Fusce vitae nulla at lorem pretium semper. Curab itur laoreet, lectus ac dignissim lorem vestibul lorem lectus ac dignissim lorem pretium semper.
          .buttons
            a(href="#").button.button--filled Read More
