section#blog(data-scroll-index="5")
  .blog-content
    .container
      h4.section-title Our Blog
      h3.section-sub-title Latest News
      .row
        .col-md-4
          .post
            .post-img
              img(src="/img/blog/1.jpg")
            .post-info
              a(href="#").post-title
                h5 Standard Post with picture
              .post-meta
                span.post-author By: Admin
                span.post-date 6 August 2017
            .post-introduction
              p Fusce vitae nulla at lorem pretium semper. Curab itur laoreet, lectus ac dignissim lorem vestibul lorem pretium semper.
            .post-interaction
              .likes
                i.fa.fa-heart-o
                span 20
              .comments
                i.fa.fa-comments-o
                span 4
              a(href="#").more More
        .col-md-4
          .post
            .post-img
              img(src="/img/blog/2.jpg")
            .post-info
              a(href="#").post-title
                h5 Standard Post with picture
              .post-meta
                span.post-author By: Admin
                span.post-date 6 August 2017
            .post-introduction
              p Fusce vitae nulla at lorem pretium semper. Curab itur laoreet, lectus ac dignissim lorem vestibul lorem pretium semper.
            .post-interaction
              .likes
                i.fa.fa-heart-o
                span 20
              .comments
                i.fa.fa-comments-o
                span 4
              a(href="#").more More
        .col-md-4
          .post
            .post-img
              img(src="/img/blog/3.jpg")
            .post-info
              a(href="#").post-title
                h5 Standard Post with picture
              .post-meta
                span.post-author By: Admin
                span.post-date 6 August 2017
            .post-introduction
              p Fusce vitae nulla at lorem pretium semper. Curab itur laoreet, lectus ac dignissim lorem vestibul lorem pretium semper.
            .post-interaction
              .likes
                i.fa.fa-heart-o
                span 20
              .comments
                i.fa.fa-comments-o
                span 4
              a(href="#").more More
