section#clients(data-scroll-index="4")
  .client-content.text-center
    .container
      h4.clients-heading What people are saying
      .dash.center-block
      .row
        .col-md-4
          .quote
            h5.person-name John Doe 
            p.quote-content Phasellus luctus commodo ullamcorper a posuere rhoncus commodo elit. Aenean congue, risus utaliquam dapibus. Thanks!.
            h6.company Google
        .col-md-4
          .quote
            h5.person-name John Doe
            p.quote-content Phasellus luctus commodo ullamcorper a posuere rhoncus commodo elit. Aenean congue, risus utaliquam dapibus. Thanks!.
            h6.company Facebook
        .col-md-4
          .quote
            h5.person-name John Doe
            p.quote-content Phasellus luctus commodo ullamcorper a posuere rhoncus commodo elit. Aenean congue, risus utaliquam dapibus. Thanks!.
            h6.company Snap Inc.
