section#followus
  .followus-content.text-center
    .container
      h4.followus-heading Follow us
      .dash.center-block
      ul.followus-social
        li
          a(href="#")
            i.fa.fa-facebook
        li
          a(href="#")
            i.fa.fa-twitter
        li
          a(href="#")
            i.fa.fa-pinterest-p
        li
          a(href="#")
            i.fa.fa-instagram
            
      form(method="post").email-form
        input(type="email", name="email", placeholder="Enter Your Email")
        button
          i.fa.fa-paper-plane-o
