footer
  .footer-content.text-center
    .container-fluid
      .footer-logo
        a(href="#home") Ya
          span va.
      ul.footer-social-links
        li
          a(href="#")
            i.fa.fa-facebook
        li
          a(href="#")
            i.fa.fa-twitter
        li
          a(href="#")
            i.fa.fa-linkedin
        li
          a(href="#")
            i.fa.fa-pinterest-p
        li
          a(href="#")
            i.fa.fa-instagram
      .copyright
        span Copyright © 2017 | All Rights Reserved.
