header(data-scroll-index="0")
  .header-content
    nav.navbar.navbar-custom
      .container
        .navbar-header
          a(href="#home").navbar-brand.navbar-logo Ya
            span va.
          button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#nav-content", aria-expanded="false")
            span
              i.fa.fa-bars
        .collapse.navbar-collapse#nav-content
          ul.nav.navbar-nav.navbar-links.navbar-right
            li 
              a(href="#", data-scroll-nav="0") Home
            li 
              a(href="#", data-scroll-nav="1") Services
            li 
              a(href="#", data-scroll-nav="2") About
            li 
              a(href="#", data-scroll-nav="3") Portfolio
            li 
              a(href="#", data-scroll-nav="4") Clients
            li 
              a(href="#", data-scroll-nav="5") Blog
            li 
              a(href="#", data-scroll-nav="6") Price
            li 
              a(href="#", data-scroll-nav="7") Contact
    .header-info
      .container
        h1.header-title Welcome to 
          span Yava
        h6.header-tagline The devoted creative technicans
        .buttons 
          a(href="#").button.button--outlined See More
          a(href="#").button.button--filled View Work
