section#portfolio(data-scroll-index="3")
  .portfolio-content
    .container-fluid
      h4.section-title Portfolio
      h3.section-sub-title Some of Our Work
      ul.category
        li(data-filter="*").is-active All
        li(data-filter=".brand") Brand
        li(data-filter=".design") Design
        li(data-filter=".photo") Photo
        li(data-filter=".video") Video
      .portfolio-items.text-center
        .row
          .col-md-3.portfolio-item.brand
            img(src="./img/portfolio/1.jpg")
            .img-overlay
              .img-overlay-text
                h4.project-category Branding
                .dash.center-block
                h3.project-title Big Title
              .img-overlay-links
                a(href="#")
                  i.fa.fa-chain
                a(href="#")
                  i.fa.fa-search
          .col-md-3.portfolio-item.brand
            img(src="./img/portfolio/2.jpg")
            .img-overlay
              .img-overlay-text
                h4.project-category Branding
                .dash.center-block
                h3.project-title Big Title
              .img-overlay-links
                a(href="#")
                  i.fa.fa-chain
                a(href="#")
                  i.fa.fa-search
          .col-md-3.portfolio-item.design
            img(src="./img/portfolio/3.jpg")
            .img-overlay
              .img-overlay-text
                h4.project-category Web Design
                .dash.center-block
                h3.project-title Big Title
              .img-overlay-links
                a(href="#")
                  i.fa.fa-chain
                a(href="#")
                  i.fa.fa-search
          .col-md-3.portfolio-item.video
            img(src="./img/portfolio/4.jpg")
            .img-overlay
              .img-overlay-text
                h4.project-category Short Movie
                .dash.center-block
                h3.project-title Big Title
              .img-overlay-links
                a(href="#")
                  i.fa.fa-chain
                a(href="#")
                  i.fa.fa-search
          .col-md-3.portfolio-item.photo
            img(src="./img/portfolio/5.jpg")
            .img-overlay
              .img-overlay-text
                h4.project-category Photography
                .dash.center-block
                h3.project-title Big Title
              .img-overlay-links
                a(href="#")
                  i.fa.fa-chain
                a(href="#")
                  i.fa.fa-search
          .col-md-3.portfolio-item.design
            img(src="./img/portfolio/6.jpg")
            .img-overlay
              .img-overlay-text
                h4.project-category Logo Design
                .dash.center-block
                h3.project-title Big Title
              .img-overlay-links
                a(href="#")
                  i.fa.fa-chain
                a(href="#")
                  i.fa.fa-search
          .col-md-3.portfolio-item.video
            img(src="./img/portfolio/7.jpg")
            .img-overlay
              .img-overlay-text
                h4.project-category Web Design
                .dash.center-block
                h3.project-title Big Title
              .img-overlay-links
                a(href="#")
                  i.fa.fa-chain
                a(href="#")
                  i.fa.fa-search
          .col-md-3.portfolio-item.photo
            img(src="./img/portfolio/8.jpg")
            .img-overlay
              .img-overlay-text
                h4.project-category Photo Editing
                .dash.center-block
                h3.project-title Big Title
              .img-overlay-links
                a(href="#")
                  i.fa.fa-chain
                a(href="#")
                  i.fa.fa-search
