section#pricing(data-scroll-index="6")
  .pricing-content.text-center
    .container
      h4.section-title Price Table
      h3.section-sub-title Our Pricing
      .row
        .col-md-4
          .price-table
            h5.table-header Free
            hr/
            .price
              h4 $
                span 0
              span.time per/month
            hr/
            ul.features
              li Anywhere Access
              li 10 GB Hosting
              li 2 Unique Users
              li Support 24/h
            a(href="#").purchase-btn.btn--nofill Purchase
        .col-md-4
          .price-table.table--fill
            h5.table-header Free
            hr/
            .price
              h4 $
                span 20
              span.time per/month
            hr/
            ul.features
              li Anywhere Access
              li 10 GB Hosting
              li 2 Unique Users
              li Support 24/h
            a(href="#").purchase-btn Purchase
        .col-md-4
          .price-table
            h5.table-header Free
            hr/
            .price
              h4 $
                span 50
              span.time per/month
            hr/
            ul.features
              li Anywhere Access
              li 10 GB Hosting
              li 2 Unique Users
              li Support 24/h
            a(href="#").purchase-btn.btn--nofill Purchase
