section
  .process-content
    .container
      .row
        .col-md-4
          .process
            span.icon
              i.fa.fa-lightbulb-o
            .process-info
              h5.process-title Web Design
              p.process-description Fusce vitae nulla at lorem pretium semper. Curab itur laoreet, lectus ac dignissim vestibul lorem pretium semper.
        .col-md-4
          .process
            span.icon
              i.fa.fa-clock-o
            .process-info
              h5.process-title Web Design
              p.process-description Fusce vitae nulla at lorem pretium semper. Curab itur laoreet, lectus ac dignissim vestibul lorem pretium semper.
        .col-md-4
          .process
            span.icon
              i.fa.fa-trophy
            .process-info
              h5.process-title Web Design
              p.process-description Fusce vitae nulla at lorem pretium semper. Curab itur laoreet, lectus ac dignissim vestibul lorem pretium semper.
