section#services(data-scroll-index="1")
  .services-content
    .container
      h4.section-title Services
      h3.section-sub-title What we do
      .services-listing
        .row
          .col-md-4
            .service
              span.icon
                i.fa.fa-desktop
              .service-info
                h5.service-title Web Design
                div.dash
                p.service-description Fusce vitae nulla at lorem pretium semper. Curab itur laoreet, lectus ac dignissim vestibul lorem pretium semper.
          .col-md-4
            .service
              span.icon
                i.fa.fa-picture-o
              .service-info
                h5.service-title Branding
                div.dash
                p.service-description Fusce vitae nulla at lorem pretium semper. Curab itur laoreet, lectus ac dignissim vestibul lorem pretium semper.
          .col-md-4
            .service
              span.icon
                i.fa.fa-life-ring
              .service-info  
                h5.service-title 24/7 Support
                div.dash
                p.service-description Fusce vitae nulla at lorem pretium semper. Curab itur laoreet, lectus ac dignissim vestibul lorem pretium semper.          
        .row
          .col-md-4
            .service
              span.icon
                i.fa.fa-mobile
              .service-info
                h5.service-title App Development
                div.dash
                p.service-description Fusce vitae nulla at lorem pretium semper. Curab itur laoreet, lectus ac dignissim vestibul lorem pretium semper.
          .col-md-4
            .service
              span.icon
                i.fa.fa-camera
              .service-info
                h5.service-title Photography
                div.dash
                p.service-description Fusce vitae nulla at lorem pretium semper. Curab itur laoreet, lectus ac dignissim vestibul lorem pretium semper.
          .col-md-4
            .service
              span.icon
                i.fa.fa-file-image-o
              .service-info  
                h5.service-title Photo Editing
                div.dash
                p.service-description Fusce vitae nulla at lorem pretium semper. Curab itur laoreet, lectus ac dignissim vestibul lorem pretium semper.        
