section#team
  .team-content
    .container
      h4.section-title Our team
      h3.section-sub-title Creative Minds
      .row.text-center
        .col-md-4
          .team-member
            img(src="../img/team/01.jpg")
            .team-member-overlay
              .team-memeber-overlay-info
                h4.team-member-name John Doe
                h5.team-memeber-job Web Designer
                ul.member-social-links
                  li
                    a(href="#")
                      i.fa.fa-facebook
                  li
                    a(href="#")
                      i.fa.fa-twitter
                  li
                    a(href="#")
                      i.fa.fa-linkedin
                  li
                    a(href="#")
                      i.fa.fa-behance
                  li
                    a(href="#")
                      i.fa.fa-instagram
        .col-md-4
          .team-member
            img(src="../img/team/02.jpg")
            .team-member-overlay
              .team-memeber-overlay-info
                h4.team-member-name John Doe
                h5.team-memeber-job Web Designer
                ul.member-social-links
                  li
                    a(href="#")
                      i.fa.fa-facebook
                  li
                    a(href="#")
                      i.fa.fa-twitter
                  li
                    a(href="#")
                      i.fa.fa-linkedin
                  li
                    a(href="#")
                      i.fa.fa-behance
                  li
                    a(href="#")
                      i.fa.fa-instagram
        .col-md-4
          .team-member
            img(src="../img/team/03.jpg")
            .team-member-overlay
              .team-memeber-overlay-info
                h4.team-member-name John Doe
                h5.team-memeber-job Web Designer
                ul.member-social-links
                  li
                    a(href="#")
                      i.fa.fa-facebook
                  li
                    a(href="#")
                      i.fa.fa-twitter
                  li
                    a(href="#")
                      i.fa.fa-linkedin
                  li
                    a(href="#")
                      i.fa.fa-behance
                  li
                    a(href="#")
                      i.fa.fa-instagram
